.Ion__Card{
    background-color: rgb(253, 253, 253);

}
.Ion__Card__Title {
    color: rgb(138, 13, 96);
    text-align: center;
}

.Ion__Card__Subtitle {
    color: rgb(30, 109, 109);
    text-align: center;
}

